body {
    background-color: rgb(55, 51, 51);
  }
  h1 {
    text-align: center;
    color: dodgerblue;
    font-size: 4rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      margin: 40px 0px;
  }